PORT=8080
SUPABASE_URL=https://project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
APPLE_BUNDLE_ID=app.sidey.desktop.appstore
APPLE_APP_ID=
APPLE_ROOT_CA_BASE64=
APPLE_IAP_ISSUER_ID=
APPLE_IAP_KEY_ID=
APPLE_IAP_PRIVATE_KEY=
APPLE_SIGN_IN_TEAM_ID=
APPLE_SIGN_IN_KEY_ID=
APPLE_SIGN_IN_PRIVATE_KEY=
APPLE_SIGN_IN_CLIENT_ID=app.sidey.desktop.appstore
